@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Furry Friends Lodge</h1>
        <p class="lead">Furry Friends Lodge provides the best overnight care for your furry friends.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Grooming</h2>
            <p>
                Furry Friends Lodge provides quality grooming for any and all dog and cat breeds, ensuring a look that is both healthy and aesthetic.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Overnight Boarding</h2>
            <p>Your pets will love their stay at our facility, so much so they'll never want to leave!</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Training</h2>
            <p>Our trainers will have your furry friend fetching, sitting, rolling over, and whatever else you want.</p>
        </section>
    </div>
</main>